<p id="notice"><%= notice %></p>

<%= @post.content %>

<tbody>
<% @post.comments.each do |x| %>
  <tr>
    <td><%= x.comment_body %></td>

  </tr>
<% end %>
</tbody>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<%= link_to 'Upvote', edit_post_path(@post) %> |
<%= link_to 'Downvote', posts_path %>

<h1>New Comment</h1>

<%= render '/comments/form', post: @post, comment: @comment %>

<%= link_to 'Back', posts_path %>
<%= link_to 'Home', home_path%> 